html {
  font-size: 100%;
}

body {
  font-family: 'Noto Serif', 'Noto Serif JP';
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

@import 'scss/header';

@import 'scss/first-view';

@import 'scss/concept';

@import 'scss/works';

@import 'scss/service';

@import 'scss/contact';

@import 'scss/footer';

@import 'scss/page';